.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  background-color: lightgray;
  display: flex;
  min-height: 100vh;
}

.card {
  height: 500px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  margin: 20px;
}